
body {
  background-color: #303942;
  color: white;
  margin: 0;
  padding: 0;
}
.full-height {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#welcome-section h1 {
  margin-bottom: 5px;

}
.subtitle{
  margin-top: 0px;
  font-size: 30px;
}
.nav {
  background-color: #DB6A6C;
  width: 100%;
  position: fixed;
  height:80px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  
}
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  height: 100%;
}
#projects {
  background-color: grey;
}
.contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.coffee{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0; 
}
.coffee2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding-bottom: 30px;

}
.clickable-text{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.top-clickies {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}
.top-clickies:hover {
  background-color: grey;
  height: 100%;
}
.contact-detail-links{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding-bottom: 100px;
  transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}
footer{
  border-top:5px solid #DB6A6C;
  padding: 20px 0;
  font-size: 16px;
  text-align: center;
}
@media (min-width: 1200px) {
  body {
    background-color: #222;
  }
}
.contact-detail-links:hover {
  transform: scale(1.05) translateY(-3px);
  text-shadow: 0 0 5px #DB6A6C, 0 0 10px #DB6A6C;
}

